<%layout('./layouts/boilerplate')%>

<body>
    <div class="header">
        <h1>Edit <%= campground.title%> at <%=campground.location %>
        </h1>
    </div>
    <div class="campground-container">
        <form action="/campgrounds/<%=campground._id%>?_method=PUT" method="POST">
            <div>
                <label for="title">Title</label>
                <input type="text" id="title" name="campgrounds[title]" value="<%=campground.title%>">
            </div>
            <div>
                <label for="location">Location</label>
                <input type="text" id="location" name="campgrounds[location]" value="<%=campground.location%>">
            </div>
            <button>Submit Changes</button>
        </form>
    </div>
    <a href="/campgrounds/<%=campground._id%>">Back to Campground</a>