<%layout('./layouts/boilerplate')%>
  <div class="row">
    <div class="col-6">
      <div class="card mb-3">
        <img src="<%=campground.image%>" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title"><%=campground.title%></h5>- By <a href=""><%=campground.author.username%></a>
          <p class="card-text"><%=campground.description%></p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item text-muted">
            <%=campground.location%>
          </li>
          <li class="list-group-item">
            <%=campground.price%> $/ night
          </li>
        </ul>
        <div class="card-body">
          <%if(currentUser && campground.author.equals(currentUser._id)) {%>
          <div class="">
            <a href="/campgrounds/<%=campground._id%>/edit" class="card-link btn btn-info btn-block mb-1">Edit</a>

            <form class="mb-1 d-inline" action="/campgrounds/<%=campground._id%>?_method=DELETE" method="POST">
              <button class="mb-1 btn btn-danger btn-block">Delete</button>
            </form>
          </div>
          <%}%>
         
        </div>
      </div>
    </div>
    <div class="col-6">
      <h2>Leave a Review</h2>
      <form class="form-control mb-3 validation-required" novalidate action="/campgrounds/<%=campground._id%>/review"
        method="POST">
        <div class="">
          <div class="mb-3">
            <label for="rating">Rating</label>
            <input class="form-range" type="range" name="review[rating]" min="1" max="5" id="rating" />
          </div>
          <label class="form-label" for="reviewbody">Review</label>
          <textarea class="form-control mb-2" name="review[body]" id="reviewbody" cols="30" rows="3"
            required></textarea>
          <div class="valid-feedback">ok!</div>
          <div class="d-flex justify-content-center">
            <button class="btn btn-success">Submit</button>
          </div>
        </div>
      </form>
     
          <%for(rev of campground.reviews){%>
            <div class="card mb-3">
              <div class="card-body">
                <h5 class="card-tittle">Rating : <%=rev.rating%></h5>
                <p class="card-text">Review : <%=rev.body%></p>
                <a class="card-subtitle text-muted" href="">- By <%=rev.author.username%></a>
                <form action="/campgrounds/<%=campground._id%>/review/<%=rev._id%>?_method=DELETE" method="POST">
                <button class="btn btn-sm btn-danger">Delete</button>
              </form>
            </div>
          </div>
            <%}%>
    </div>
  </div>